html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    touch-action: pan-x pan-y;
    overscroll-behavior: none;
    background-color: black;
  }


  .circle {
    animation: grow .25s;
    position: absolute;
    border: 10px solid blue;
    box-sizing: border-box;
  }

  .circle:nth-child(1) {
    border-color: red;
  }
  .circle:nth-child(2) {
    border-color: orange;
  }
  .circle:nth-child(3) {
    border-color: yellow;
  }
  .circle:nth-child(4) {
    border-color: green;
  }
  .circle:nth-child(5) {
    border-color: blue;
  }
  .circle:nth-child(6) {
    border-color: indigo;
  }
  .circle:nth-child(7) {
    border-color: violet;
  }
  .circle:nth-child(8) {
    border-color: grey;
  }
  .circle:nth-child(9) {
    border-color: white;
  }
  @keyframes grow {
from {
  transform: scale(0);
}
to {
  transform: scale(1);
}
}